@font-face {
    font-family: 'lato';
    src: url('lato-reg.woff2') format('woff2'),
         url('lato-reg.woff') format('woff'),
         url('lato-reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('lato-bol.woff2') format('woff2'),
       url('lato-bol.woff') format('woff'),
       url('lato-bol.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('lato-lig.woff2') format('woff2'),
       url('lato-lig.woff') format('woff'),
       url('lato-lig.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('lato-ligita.woff2') format('woff2'),
       url('lato-ligita.woff') format('woff'),
       url('lato-ligita.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

* {
  color: #1d1c1e;
  font-family: 'lato', 'Helvetica-neue', Helvetica, Arial;
  font-weight: normal;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  background-color: #f9fbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 720px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

a {
  color: #bf64dd;
}

p {
  font-size: 16px;
}

.emoji {
  background-image: url('sprite.svg');
  display: inline-block;
}

header {
  background-color: #ffffff;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%; 
}

@media (min-width: 720px) {
  header {
    padding-top: 140px;
    min-height: 100vh;
    width: 25%;
  }
}

header .leonie-img {
  display: block;
  margin: 0 auto;
  max-width: 120px;
  width: 100%;
}

header .social a {
  background-image: url('sprite.svg');
  background-size: 40px;
  background-position: -8px -7px;
  display: inline-block;
  margin: 10px;
  height: 20px;
  width: 20px;
}

header h1 {
  display: none;
}

header .logo {
  display: block;
  margin: 0 auto;
  max-width: 190px;
  width: 100%;
}

header .social {
  margin: 10px 0;
  font-weight: normal;
  font-style: italic;
}

.skills p {
  color: #7e7e7e;
  font-style: italic;
  font-size: 18px;
}

.social a.instagram {
  background-position: -8px -71px;
}

.social a.medium {
  background-position: -8px -200px;
}

.social a.twitter {
  background-position: -8px -136px;
}

.contact .email {
  font-style: italic;
}

.contact p {
  color: #7e7e7e;
}

.main {
  text-align: center;
  padding: 30px;
  width: 75%;
}

@media (min-width: 720px) {
  .main {
    padding: 0;
    width: 75%;
  }
}

.main h2 {
  font-style: italic;
  font-size: 32px;
  padding-bottom: 88px;
}

.main h2 .emoji {
  background-position: 3px -1018px;
  background-size: 40px;
  height: 35px;
  position: relative;
  top: 5px;
  width: 35px;
}
.main h2 .emoji.sparkle {
  background-position: 3px -787px;
}

.main .message {
  color: #7e7e7e;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 60px;
}

@media (min-width: 720px) {
  .main .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 720px) {
  .main-content {
    float: left;
    max-width: 720px;
    padding-bottom: 60px;
    padding-left: 130px;
    padding-right: 20px;
    padding-top: 170px;
    text-align: left;
    width: 100%;
  }
}

.main .project-title .emoji {
  background-size: 40px;
  height: 30px;
  width: 30px;
  position: relative;
  top: 4px;
}

.main .emoji.heart {
  background-position: 3px -368px;
}

.main .emoji.leaf {
  background-position: 4px -425px;
}

.main .emoji.stars {
  background-position: -1px -311px;
}

.main .project {
  margin: 0;
  padding-bottom: 60px;
}

@media (min-width: 720px) {
  .main .project {
    padding-bottom: 0;
  }
}

.main .project-title {
  font-size: 18px;
  font-weight: bold;
}

.main .project-description {
  color: #7e7e7e;
  padding: 10px 0;
  font-size: 18px;
}
