.case-detail {
  .case-detail-words {
    display: flex;
    justify-content: space-between;

    margin-top: 120px;

    @include desktop {
      margin-top: 220px;
    }
  }

  .case-detail-article {
    position: relative;
    max-width: 650px;

    h1 {
      position: absolute;
      top: -120px;
      left: 0;
    }

    p {
      text-align: left;
      font-family: $lato;
      font-weight: 300;
      line-height: 1.64;

      @include desktop {
        font-size: 22px;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
