.case-detail {
  .case-detail-words {
    margin-top: 40px;
    margin-bottom: 40px;

    @include desktop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
      margin-top: 220px;
    }
  }

  .case-detail-article {
    position: relative;
    max-width: 650px;

    h1 {
      @include desktop {
        position: absolute;
        top: -120px;
        left: 0;
      }
    }

    p {
      text-align: left;
      font-family: $lato;
      font-weight: 300;
      line-height: 1.64;

      @include desktop {
        font-size: 22px;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .case-detail-credits {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 150px;
    }
  }
}
