.flamyngo-case {
  .case-detail-intro-img {
    max-height: 500px;
    max-width: 90%;
    width: auto;
  }

  $flamyngo-logo-fill: #24d2ac;
  .horn-logo-circle {
    fill: $flamyngo-logo-fill;
  }

  .horn-logo {
    fill: $white;
  }
}
