.case-detail-fancy-gal {
  .case-detail-fancy-gal-content {
    padding-bottom: 40px;

    @include desktop {
      padding-bottom: 100px;
    }

    img {
      display: block;
      margin-bottom: 20px;
      width: 100%;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  .column {
    @include desktop {
      width: calc(50% - 10px);
    }
  }
}
