.projects-list {
  @include desktop {
    &::after {
      content: '';
      display: block;
      padding-bottom: 125%;
    }
  }
}

.second-projects-list {
  @include desktop {
    &::after {
      padding-bottom: 65%;
    }
  }
}
